<!DOCTYPE html>
<html>
  <body>
      <form method="POST" action="/">
  First number:<br>
  <input type="text" name="firstnumber"><br>
  Second number:<br>
  <input type="text" name="secondnumber">
  <input type="submit" name="Submit">
</form>
  </body>
</html>
